@font-face {
    font-family: "Lato", sans-serif;
    src: url("/font/Lato-Black.ttf");
}

body{
    font-family: "Lato";
    margin: 0%;
    padding: 0%;
}
.encabezado {
    width: 100%;
    margin-top:none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(0deg, rgba(215, 192, 208) 0%, rgba(239, 240, 209) 100%);
    }
img{border-radius: 25px;}

nav{
    width: 30%;
    
}
.lista-navegador{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: rgb(52, 58, 64);
    text-transform: uppercase;
    text-decoration: none;
}

.contenedor {
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}

.contenedor img{ 
width: 45%;
margin-right: 5%;
margin-bottom: 5%;
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
}

.bloque1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bloque1 p {
    font-size: 2em;
    font-family: 'Lato';
    width: 50%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.bloque1 button {
    width: 60%;
    height: 50px;
    margin-top: 1cm;
    color: white;
    background-color: #0c4ea2;
    border: 0;
    outline: 0;
    border-radius: 15px;
    font-size: 1em;
    text-transform:lowercase;
    font-family: 'Lato';
    cursor: pointer;
 }

 a:hover { color: #0C4EA2 }

.bloque2 {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(239, 240, 209)
}

.ibloque2 {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
